:root {
	--primary-bg: #7FFFD4;
	--active-bg: green;

}

body {
	background-color: var(--primary-bg);
}

#difficulty,
#start-game {
	min-width: 150px;
	height: 40px;
}

#grid {
	width: 900px;
	height: 900px;

	display: flex;
	flex-wrap: wrap;
}

#grid,
.square {
	border: 2px solid black;
}

.square {
	width: calc(100% / 10);
	height: calc(100% / 10);
	cursor: crosshair;

	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.square.medium-square {
	width: calc(100% / 9);
	height: calc(100% / 9);
}

.square.big-square {
	width: calc(100% / 7);
	height: calc(100% / 7);
}

.square.active {
	background-color: var(--active-bg);
}

.bomb {
	width: calc(100% / 10);
	height: calc(100% / 10);
	cursor: crosshair;
}
.bomb.active {
	background-color: red;
}

.d-none {
	display: none;
}

.lose {
    width: 200px;
    height: 150px;
    background-color: white;
    position: absolute;
    border: 3px solid red;
}